.conteiner-content {
  display: inline-block;
}

.conteiner {
  position: absolute;
  background-color: red;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-field {
  background-color: lightgreen;
  text-align: center;
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;
}

.input-field {
  padding: 5px;
  text-align: center;
  margin-bottom: 2px;
  text-transform: uppercase;
}

.status-input-true {
  background-color: lightgreen;
}

.status-input-false {
  background-color: lightpink;
}